<div class="admin index">
  <h2>Profiles</h2>

  <%= link_to("Add a New Profile", '#', :class => 'action new') %>

  <table class="listing" summary="Profile list">
    <tr class="header">
      
      <th>Username</th>
      
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
  
      <td class="actions">
        <%= link_to("Show", '#', :class => 'action show') %>
        <%= link_to("Edit", '#', :class => 'action edit') %>
        <%= link_to("Delete", '#', :class => 'action delete') %>
      </td>
    
    </tr>
    <% end %>
  </table>
</div>
