<h1>Accounts Page</h1>

<% if !logged_in? %>
    <h2>Please log in first</h2>  
<% elsif @accountlist.any? %>
    <h2>Your Accounts</h2><hr>
    <% @accountlist.each do |account| %>
    <tr>
        <td><%= "Profile ID: " + account.id.to_s if account.profiles_id %></td><br>
        <td><%= "Account Balance: " + account.amount.to_s if account.amount %></td><br>
        <td><%= "Account Type: " + account.account_type.to_s if account.account_type %></td><br>
        <td><%= "Account Created: " + account.created_at.to_s if account.created_at %></td><br>
        <td><%= "Account Updated: " + account.updated_at.to_s if account.updated_at %></td><br>
        <%= link_to 'Edit', {:controller => "accounts", :action => "viewedit", :accid => account.id }%>
        <%= link_to 'View Transactions', account_transactions_path(account) %><hr>
    </tr><hr>
<% end %>
<% else %>
    <h2>No accounts. Create one?</h2>
<% end %>
<h1>Create Account</h1>


<%= form_for :account do |f| %>
    <%= f.select :account_type, [["Savings", "Savings"], ["Basic", "Basic"], ["Student", "Student"]], selected: "Savings" %>
    <%= f.submit "Create Account"%>
<% end %>