<h1>Edit Account</h1>
<hr>


<% if @current_account %>
    <%= form_for :account, :url => {:action => "update", :accid => @current_account}  do |f| %>
        <td><%= "Account ID: " + @current_account.id.to_s %></td><br>
        <td><%= "Account Balance: " + @current_account.amount.to_s%></td><br>
        <td><%= "Account Type: " + @current_account.account_type.to_s%></td>
        <%= f.select :account_type, [["Savings", "Savings"], ["Basic", "Basic"], ["Student", "Student"]], selected: "Savings" %><br>
        <td><%= "Account Created: " + @current_account.created_at.to_s%></td><br>
        <td><%= "Account Updated: " + @current_account.updated_at.to_s %></td><br>
        <%= f.submit "Update Account"%>
    <% end %>
<% end %>