<html>
  <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->

  <body class= "profile-body">

    

    <div class="profile-content">


      <h2 class="text-center profile-title" >Profiles</h2> 

      <div class="p-4 text-center" > <%= link_to("Add a New Profile", new_profile_path, :class => 'btn-profile new-button', id: "profile-new-button") %> </div>
      <br/>
      <table class="table profiles text-center">
        <tr class="header">
          <th width="0%">Username</th>
          <th width="100%">Actions</th>
        </tr>
        
        <% @profiles.each do |currentProfile| %>
        <tr>
          <td><%= currentProfile.username %></td>
      
          <td class="actions"> 
            <%= link_to('Show', profile_path(currentProfile), :class => 'btn-profile show-button', id: "profile-show-button") %>
            <%= link_to('Edit', edit_profile_path(currentProfile), :class => 'btn-profile edit-button', id: "profile-edit-button") %>
            <%= link_to('Delete', profile_path(currentProfile), :method => 'delete', :class => 'btn-profile delete-button', id: "profile-delete-button") %>
          </td>
        
        </tr>
        <% end %>
      </table>
    </div>
  </body>
</html>

