<h1>Profile#view</h1>
<p>Find me in app/views/profile/view.html.erb</p>
<br/>

<br/>
<br/>
<%= 'Name: ' + @loaded_profile.first_name + ' ' + @loaded_profile.last_name%>
<br/>
<%= 'Email: ' + @loaded_profile.email %>
<br/>
<%= 'address: ' + @loaded_profile.address %>
<br/>
<%= 'telephone: ' + @loaded_profile.telephone%>
<br/>
<%= 'age: ' + @loaded_profile.age.to_s %>
<br/>
<%= 'gender: ' + @loaded_profile.gender %>
<br/>

