<%= link_to("<< Back to List", transactions_path, :class => 'back_to_list') %>

<div class="transaction_delete">
    <h1>Delete Transaction</h1>

    <% if current_user.admin %>

        <%= form_for(@transaction, :method => 'delete') do |f| %>

            <p>Are you sure you want to permanently delete this transaction with id: <%= @transaction.id %>?</p>
            <%= link_to("Show details of this transaction", transaction_path(@transaction), :class => 'transaction_show') %><br/>

            <br/> 

            <div class="form-buttons">
                <%= f.submit("Delete Transaction") %>
            </div>

        <% end %>
    
    <% else %>
        <h3>Cannot edit transaction history!!</h3>
    <% end %>

</div>