<%= render(:partial => 'backToList') %>

<div class="transaction_delete">
    <h1>Delete Transaction</h1><br/>

    <% if current_user.admin %>

        <%= form_for([@account, @transaction], :method => 'delete') do |f| %>

            <h5>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                Are you sure you want to permanently delete this transaction with id: <%= @transaction.id %>?
            </h5>

            <br/> 

            <%= link_to("Show details of this transaction", account_transaction_path(@account, @transaction), :class => 'link_to_actions') %>

            <%= f.submit("Delete Transaction", :class => "form-buttons") %>

        <% end %>
    
    <% else %>
        <%= render(:partial => 'warning') %>
    <% end %>

</div>