<%= render(:partial => 'backToList') %>

<div class="transaction_edit">
  <h1>Edit Transaction</h1>

  <% if current_user.admin %>
    <%= form_for(@transaction) do |f| %>

      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <%= f.submit("Update Transaction", :class => "form-buttons") %>

    <% end %>
  <% else %>
    <%= render(:partial => 'warning') %>
  <% end %>
  
</div>
