<div class="transactions_index">
    <h1>Transaction History</h1>

    <% if !logged_in? %>
        <h3>Please log in first</h3>  
    <% else %> 
        <%= link_to("Add New Transactions", new_transaction_path, :class => 'add_transaction_btn') if current_user.admin %>

        <% if @transactions.any? %>
            <table class="transaction_list">
                <tr>
                    <th>Date</th>
                    <th>Transactor</th>
                    <th>Message</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
                <% @transactions.each do |transaction| %>
                    <tr>
                        <td><%= transaction.transaction_datetime.strftime("%d-%m-%Y") %></td>
                        <td><%= transaction.transactor %></td>
                        <td><%= transaction.message %></td>
                        <td><%= "%.2f" % transaction.amount %></td>
                        <td class="actions">
                            <%= link_to("Details", transaction_path(transaction), :class => 'transaction_show') %>
                            <%= link_to("Edit", edit_transaction_path(transaction), :class => 'transaction_edit') if current_user.admin %>
                            <%= link_to("Delete", delete_transaction_path(transaction), :class => 'transaction_delete') if current_user.admin %>
                        </td>
                    </tr>
                <% end %>
            </table>
        <% else %>
            <h3>Note: No transactions yet.</h3>
        <% end %>
    <% end %>
</div>
