<div class="transactions_index">
    <h1>Transactions</h1>

    <% if !logged_in? %>
        <h3>Please log in first</h3>  
    <% else %> 
        #If user is admin then show this button to add transactions >>
        <%= link_to("Add New Transactions", new_transaction_path, :class => 'transaction_new') %><br/>

        <br/>
        
        <% if @transactions.any? %>
            <table class="transaction_list">
                <tr class="header">
                    <th>Date</th>
                    <th>Transactor</th>
                    <th>Message</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
                <% @transactions.each do |transaction| %>
                    <tr>
                        <td><%= transaction.transaction_datetime.strftime("%d-%m-%Y") %></td>
                        <td><%= transaction.transactor %></td>
                        <td><%= transaction.message %></td>
                        <td><%= transaction.amount %></td>
                        <td class="actions">
                            <%= link_to("Show", transaction_path(transaction), :class => 'transaction_show') %><br/>
                            <%= link_to("Edit", edit_transaction_path(transaction), :class => 'transaction_edit') %><br/>
                            <%= link_to("Delete", delete_transaction_path(transaction), :class => 'transaction_delete') %>
                        </td>
                    </tr>
                <% end %>
            </table>
        <% else %>
            <h3>Note: No transactions yet.</h3>
        <% end %>
    <% end %>
</div>
