<%= render(:partial => 'backToList') %>

<div class="transaction_new">
    <h1>Add Transactions</h1>

    <% if current_user.admin %>
        <%= form_for([@account, @transaction], :url => account_transactions_path(@account), :method => 'post') do |f| %>

            <%= render(:partial => 'form', :locals => {:f => f}) %>

            <%= f.submit("Add Transaction", :id => "submitBtn", :class => "form-buttons") %>

        <% end %>
    <% else %>
        <%= render(:partial => 'warning') %>
    <% end %>
  
</div>