<%= render(:partial => 'backToList') %>

<div class="transaction_new">
    <h1>Add Transactions</h1>

    <% if current_user.admin %>
        <%= form_for([@account, @transaction], :url => account_transactions_path(@account), :method => 'post') do |f| %>

            <%= render(:partial => 'form', :locals => {:f => f}) %>

            <%= f.submit("Add Transaction", :id => "submitBtn", :class => "form-buttons") %>

        <% end %>
    <% else %>
        <%= render(:partial => 'warning') %>
    <% end %>
</div>

<script>
    $(document).ready(() => {
        let submitBtn = document.querySelector('#submitBtn');
        submitBtn.disabled = true;

        let inputs = document.querySelectorAll('[type="text"]');
        for (i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('input', () => {
                let values = [];
                inputs.forEach(v => values.push(v.value));
                submitBtn.disabled = values.includes('');
            })
        }
    })
</script>