<%= link_to("<< Back to List", transactions_path, :class => 'back_to_list') %>

<h1>Transaction Details</h1>
<div class="transactions_show">

  <table>
    <tr>
      <th>Date</th>
      <td><%= @transaction.transaction_datetime %></td>
    </tr>
    <tr>
      <th>Transactor</th>
      <td><%= @transaction.transactor %></td>
    </tr>
    <tr>
      <th>Message</th>
      <td><%= @transaction.message %></td>
    </tr>
    <tr>
      <th>Amount</th>
      <td><%= @transaction.amount %></td>
    </tr>
  </table>

  <br/>
  
  #If user is admin then show this button to edit transaction >>
  <%= link_to("Edit transaction", edit_transaction_path(@transaction), :class => 'back_to_list') %><br/>

  <br/>

  <p>If you think a transaction is fraudulent, please <%= link_to "contact us", {:controller => "contact", :action => "index"} %> to report this.</p>

</div>