<%= link_to("<< Back to List", transactions_path, :class => 'back_to_list') %>

<div class="transaction_show">
  <h1>Transaction Details</h1>

  <table>
    <tr>
      <th>Date</th>
      <td><%= @transaction.transaction_datetime %></td>
    </tr>
    <tr>
      <th>Transactor</th>
      <td><%= @transaction.transactor %></td>
    </tr>
    <tr>
      <th>Message</th>
      <td><%= @transaction.message %></td>
    </tr>
    <tr>
      <th>Amount</th>
      <td><%= @transaction.amount %></td>
    </tr>
  </table>

  <%= link_to("Edit transaction", edit_transaction_path(@transaction), :class => 'action_edit')  if current_user.admin %>
  <%= link_to("Delete transaction", delete_transaction_path(@transaction), :class => 'action_delete') if current_user.admin %>

  <br/>

  <p>If you think a transaction is fraudulent, please <%= link_to "contact us", {:controller => "contact", :action => "index"} %> to report this.</p>

</div>