<div class="admin index">
<div class="container-fluid" id="admin-index">
	<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 text-center">
      <br/>
      <h2 class="text-center">Profiles</h2>
        <div class="p-4 text-center">
          <%= link_to("Add a New Profile", new_admin_path, :class => 'btn btn-secondary') %>
        </div>
        <br/>
        <table class="table profiles text-center">
          <tr class="header">
            <th>Username</th>
            <th>Actions</th>
          </tr>
          
          <% @users.each do |currentUser| %>
          <tr>
            <td><%= currentUser.username %></td>
        
            <td class="actions"> 
              <%= link_to('Show', admin_path(currentUser), :class => 'btn btn-secondary') %>
              <%= link_to('Edit', edit_admin_path(currentUser), :class => 'btn btn-secondary') %>
              <%= link_to('Delete', '#', :class => 'btn btn-secondary') %>
            </td>
          
          </tr>
          <% end %>
        </table>
    </div>

    <div class="col-md-1">
    </div>
  </div>
</div>
