<%= link_to("<< Back to List", admins_path, :class => 'back-link') %>
<div class="admin show">
  <h2>Show Profile</h2>

  <table summary="Profile detail view">
    <tr>
      <th>Username</th>
      <td><%= @user.username %></td>
    </tr>

    <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
    </tr>
<!-- 
    <tr>
         <th>Password</th>
         <td><%= @user.password_digest %></td>
    </tr> -->
  
    <tr>
        <th>Address</th>
        <td><%= @user.address %></td>
    </tr>


    <tr>
        <th>Phone Number</th>
        <td><%= @user.telephone %></td>
    </tr>

    <tr>
        <th>Phone Number</th>
        <td><%= @user.telephone %></td>
    </tr>

    <tr>
        <th>First Name</th>
        <td><%= @user.first_name %></td>
    </tr>

    <tr>
        <th>Last Name</th>
        <td><%= @user.last_name %></td>
    </tr>

    <tr>
        <th>Age</th>
        <td><%= @user.age %></td>
    </tr>

    <tr>
        <th>Gender</th>
        <td><%= @user.gender %></td>
    </tr>

    <tr>
        <th>Admin Status</th>
        <td><%= @user.admin %></td>
    </tr>
    
    <tr>
      <th>Created</th>
      <td><%= @user.created_at %></td>
    </tr>

    <tr>
      <th>Updated</th>
      <td><%= @user.updated_at %></td>
    </tr>

  </table>

</div>
