<script>
    var mybutton = document.getElementById("myBtn");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<style>
    #myBtn {
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    #myBtn:hover {
        background-color: #555;
    }

    .columns {
        margin: 0 300px; 
        display: flex;
    }

    .column {
        margin: 0 10px; 
        width: 300px;
    }

    .column h3 {
        margin-bottom: 30px;
    }

    .navbar ul {
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
        overflow: hidden;
    }

    .navbar li {
        float: right; 
        display: block; 
        color: black; 
        text-align: center; 
        padding: 14px 16px; 
        text-decoration: none;
        border-radius: 25px;
    }  

</style>

<div class="navbar">

    <ul>

        <%= link_to root_url do %>
            <%= image_tag("/images/logo.jpg", :size => "120x100")%>
        <% end %>

        <li><%= link_to "Contact us", {:controller => "contact", :action => "index"} %></li>

        <% if !@logged_in %>
            <li><%= "Register" %></li>
            <li><%= "Login" %></li>
        <% else %>
            <li><%= "Sign Out" %></li>
            <li><%= @greeting %>, <%= @username %></li>
        <% end %>

    </ul>

</div>

<%= image_tag("/images/homeImage.jpg", style: "width:100%; height:auto; text-align: center;")%>

<div style="padding: 30px 0;">
    <div class="columns">
        <div class="column"> 
            <h3>Products</h3>
            <p>Current Accounts</p>
            <p>Savings</p>
            <p>Credit Cards</p>
            <p>Loans</p>
            <p>Mortgages</p>
            <p>Insurance</p>
            <p>Overdrafts</p>
        </div>
        
        <div class="column">
            <h3>Help and Support</h3>
            <p><%= link_to "Contact us", {:controller => "contact", :action => "index"} %></p>
            <p><%= link_to "FAQs", {:controller => "faqs", :action => "index"} %></p>
            <p>Switch to Bank</p>
            <p>Protect your money</p>
            <p>Help with bereavement</p>
        </div>
        
        <div class="column">
            <h3>Important Notices</h3>
            <p>Coronavirus (COVID-19)</p>
            <p>Accessibility</p>
            <p>Privacy Policy</p>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
