<% @username=current_user.username %>
<div class="navbar">

    <ul>
   
        <%= link_to root_url do %>
            <%= image_tag("/images/logo.jpg", :size => "120x100")%>
        <% end %>

        <li><%= link_to "Contact us", {:controller => "contact", :action => "index"} %></li>

        <% if !logged_in? %>
            <li><%= "Register" %></li>
            <li><%= "Login" %></li>
        <% else %>
            <li><%= link_to "Log Out", {:controller=> "sessions",:action => "destroy"} %></li>
            <li><%= @greeting %>, <%= @username %></li>
        <% end %>

    </ul>

</div>

<%= image_tag("/images/homeImage.jpg", style: "width:100%; height:auto; text-align: center;")%>

<div style="padding: 30px 0;">
    <div class="columns">
        <div class="column"> 
            <h3>Products</h3>
            <p>Current Accounts</p>
            <p>Savings</p>
            <p>Credit Cards</p>
            <p>Loans</p>
            <p>Mortgages</p>
            <p>Insurance</p>
            <p>Overdrafts</p>
        </div>
        
        <div class="column">
            <h3>Help and Support</h3>
            <p><%= link_to "Contact us", {:controller => "contact", :action => "index"} %></p>
            <p><%= link_to "FAQs", {:controller => "faqs", :action => "index"} %></p>
            <p>Switch to Bank</p>
            <p>Protect your money</p>
            <p>Help with bereavement</p>
        </div>
        
        <div class="column">
            <h3>Important Notices</h3>
            <p>Coronavirus (COVID-19)</p>
            <p>Accessibility</p>
            <p>Privacy Policy</p>
        </div>
    </div>
</div>
