<!DOCTYPE html>
<html>
  <head>
    <title>ScamBaiterWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <ul>
          <%= link_to root_url do %>
              <%= image_tag("/images/fox.png", :size => "80x100")%>
          <% end %>

          <li><%= link_to "Contact us", {:controller => "contact", :action => "index"} %></li>

          <% if !logged_in? %>
              <li><%= "Register" %></li>
              <li><%= link_to "Login", {:controller=> "sessions",:action => "new"} %></li>
          <% else %>
              <%if current_user.admin == true%>
                <li><%= link_to("Admin Panel", profiles_path) %></li>
              <%end %>
              <li><%= link_to "Log Out", {:controller=> "sessions",:action => "destroy"} %></li>
              <li><%= @greeting %>, <%= current_user.username %></li>
              
          <% end %>
      </ul>
    </div>

    <button id="backToTopBtn" title="Go to top">Top</button>
    
    <%= yield %>
  </body>
</html>
