<!DOCTYPE html>
<html>
  <head>
    <title>ScamBaiterWebsite</title>
    <%= csrf_meta_tags %>

    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  </head>

  <body>

  
  <% unless controller_name == "sessions" %>
  <nav class="navbar navbar-expand-md navbar-light navbar-fixed-top">
    <div id="app" class="container">
        <div class="navbar-left nav-logo"> 
            <%= link_to root_url do %>
                <%= image_tag("/images/fox.png", :size => "55x70")%>
            <% end %>
        </div>
        <h1 class="navbar-brand-title">Fox</h1>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "Contact us", {:controller => "contact", :action => "index"} %>
                </li>
                <li class="nav-item">
                    <%= link_to "Accounts", {:controller => "accounts", :action => "index"} %>
                </li>

                <% if !logged_in? %>
                    <li class="nav-item">
                        <%= link_to "Register", {:controller => "home", :action => "register"} %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Login", {:controller=> "sessions",:action => "new"} %>
                    </li>

                <% else %>
                    <% if current_user.admin==true %>
                        <li class="nav-item">
                            <%= link_to "Profiles", profiles_path %>
                        </li>

                        <div class="dropdown">
                            <button class="dropbtn">Customise
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="#">Original Theme</a>
                                <a href="#">Dark Theme</a>
                                <a href="#">Pastel Theme</a>
                                <a href="#">Neon Lights Theme</a>
                            </div>
                        </div>
                    <% end %>
                    
                    <li class="nav-item">
                       <%= link_to "Log Out", {:controller=> "sessions",:action => "destroy"} %>
                    </li>
                    <li class="nav-greeting">
                       <%= @greeting %>, <%= current_user.username %>
                    </li>
                <% end %>

            </ul>
        </div>
    
    </div>
  </nav>


    <button id="backToTopBtn" title="Go to top">Top</button>
  <% end %>
    
    <%= yield %>
  </body>
</html>
